

.container {
  display: block;
  flex-wrap: wrap;
  justify-content: center;
  color: #f6f1f1;
  font-weight: revert;
  text-align: center;
  width: 350px;
  background: (rgba(7, 9, 7, 0.8));
  padding: 20px;
  margin: 20px;
  align-content: center;
  align-items: center;


}