.MenuToggle {
  width: 200px;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  font-size: 20px;
  z-index: 100;
  background: rgba(107, 13, 141,0.3);
  border-right: rgba(121,112,312,.3);
  box-shadow: -3px 0px 8px 12px #bc42cd, -1px 0px 6px 0px #a53ea1, 1px 0px 3px 0px #6543b7, 3px 0px 12px 0px #0568fa;


}

.content{


}